* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 900px;
    width: 100%;
}

.left-side {
    flex: 1;
}

.left-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-side {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f8f8f8;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.options {
    display: flex;
    align-items: center; /* Alinha verticalmente checkbox e texto */
    margin-bottom: 20px;
}

.options input[type="checkbox"] {
    margin-right: 8px; /* Espaçamento entre o checkbox e o texto */
    transform: translateY(10px);
    cursor: pointer; /* Muda o cursor ao passar sobre o checkbox */
}

.options label {
    font-size: 14px;
    margin: 0; /* Remove margens do label */
}

.options a {
    padding-left: 35%;
    font-size: 14px;
    color: #555;
    text-decoration: none;
}

button {
    padding: 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #333;
}

p {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Media query para telas menores (celulares) */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-side {
        display: none;
    }

    .right-side {
        width: 100%;
        padding: 20px;
    }
}
